<!DOCTYPE html>
<html>

<head>
    <style>
        .center .row {
            margin: auto;
            width: 10%;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form action="signedin">
        <div class="center">
            <div class="row">
                <label>First Name</label><br>
                <input type="text" name="name" id="">
            </div>
            <!-- <div class="row">
                <label>Email</label><br>
                <input type="email" name="email" id="">
            </div> -->
            <div class="row">
                <label>Password</label><br>
                <input type="password" name="pswd" id="">
            </div>
            <div class="row">
                <input type="submit" value="SUBMIT">
            </div>
        </div>
    </form>
</body>

</html>